@using Figuritas.Shared.Model

<div class="dialog-sticker-preview">
    <StickerComponent Sticker="@Sticker" Quantity="@Quantity" />
</div>

@ChildContent

@if (FeedbackMsg is not null)
{
    <MudAlert Severity="@(FeedbackSuccess ? Severity.Success : FeedbackSeverity)"
              Dense="true"
              Class="mt-3">
        @FeedbackMsg
    </MudAlert>
}

@code {
    [Parameter][EditorRequired] public Sticker Sticker { get; set; } = default!;
    [Parameter] public int Quantity { get; set; } = 0;
    [Parameter] public string? FeedbackMsg { get; set; }
    [Parameter] public bool FeedbackSuccess { get; set; }
    [Parameter] public Severity FeedbackSeverity { get; set; } = Severity.Error;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
