@page "/catalogo"

<PageTitle>Catálogo</PageTitle>

<h1>Pendiente Construcción.</h1>
<p>En esta página se mostrará el catálogo con todas las figuritas existentes.</p>
<p>Controller: StickersControllers</p>
<p>Endpoint: /api/stickers</p>
<p>Podrá filtrarse por selección y categoría</p>

